<div class = "row">
  <div class="logo-and-header col-md-8">
    <div class="logo"></div>
    <h1> Consensus </h1>
  </div>
  <div class = "buttons col-md-4">
    <button class="login-btn btn">Login</button>
    <button class="register-btn btn">Register</button>
  </div>
</div>
