<form class="login-form" method="POST" action="/login">
  <div class="login-form-container">
    <div class="inputs-and-submit">
      <label for="email">Email:</label>
      <input id="login-email" type="email" name="email">
      <label for="password">Password:</label>
      <input id="login-password" type="password" name="password">
      <input type="submit" value="Login" class="btn btn-primary login-button btn-sm">
    </div>
    <div class = "login-errors"></div>
  </div>
</form>
