<!DOCTYPE html>
<html lang="en">
<head>
  <title>Consensus</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>

  <main>
    <% include partials/_login-form.ejs %>
    <div class="container row">
      <div class="title-and-description col-md-6">
        <h1 class="poll-title"><%= poll_name %></h1>
        <p class="poll-description"><%= poll_description%></p>
        <p class="instructions">
          Rank your choices in order of preference. When you're finished, click the SUBMIT button.
        </p>
      </div>

    <!-- Only show as many as we need  -->
      <section class="choice-container col-md-6">
        <% for(let i = 0; i < choicesArr.length; i++) { %>
        <div class="choice"> <%= choicesArr[i].choice %> </div>
        <%}%>
        <button class="btn submit-ranks-btn" type="submit">SUBMIT</button>
      </section>
    </div>
  </main>

  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
