<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Consensus</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header.ejs %>
      <button class="nav-button">Login</button>
      <a href="/register" class="nav-button">Register</a>

      <!-- TOGGLE THIS IN AND OUT WITH THE LOGIN BUTTON -->
        <form class="login-form" action="/login" method="POST">
          email: <input type ="email" name="email">
          <br>
          password: <input type ="password" name="password">
          <br>
          <button type="submit">Login</button>
        </form>

        <h1 class="poll-title"></h1>
        <p class="poll-description"></p>
        <p class="instructions">
          Rank your choices in order of preference. When you're finished, click the SUBMIT button.
        </p>

    <!-- Replace this with the actual results  -->
        <img src="pie-chart">
    <!-- Only show as many as we need  -->
          <section class="choice-ranking">
            <p class="choice1"></p>
            <p class="choice2"></p>
            <p class="choice3"></p>
            <p class="choice4"></p>
            <p class="choice5"></p>
            <p class="choice6"></p>
          </section>
          <button type="submit">SUBMIT</button>
    <% include partials/_footer.ejs %>
  </body>
</html>
