<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>
  <main>
    <h1>Your Polls</h1>
    <article>
      <ul class="container">
        <% for(let poll of polls) { %>
          <a href=<%="http://localhost:8080/poll/" + poll.id%> >
            <li class="item"><%= poll.poll_name%></li>
          </a>
          <% } %>
      </ul>

    </article>

  </main>
  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
