<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>

  <a href="/logout" class="nav-button">Logout</a>

  <h1>Your Polls</h1>
  <h3>Create a new poll</h3>

<!-- Use ejs to add the poll id here and add as many sections as necessary -->
  <main>
    <a href="/poll/:pollid" <section class="poll-preview"><section></section></a>
  </main>
  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
