<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create a poll</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header class="create-header">
    <% include partials/_header.ejs %>
  </header>
  <main class="create-page">
    <div class="row">
      <div class="inputs-and-buttons col-md-8">
        <div class="buttons">
          <button class="add-choice-button">ADD ANOTHER CHOICE</button>
          <button class="remove-choice-button">REMOVE CHOICE</button>
        </div>
        <form class="create-form" action="/poll/create" method="POST">
          <div class="form-group">
            <input id="poll_title" type="text" name="title" class="create-input" placeholder="POLL TITLE *">
          </div>
          <div class="form-group">
            <input id="poll_description" type="text" name="description" class="create-input" placeholder="POLL DESCRIPTION *">
          </div>
          <ul id="ul_choices">
            <li class="choice">
              <input type="text" name="choice[]" class="choice-input" placeholder="CHOICE *">
              <input type="text " name="desc[]" placeholder="CHOICE DESCRIPTION">
            </li>
            <li class="choice">
              <input type="text" name="choice[]" class="choice-input" placeholder="CHOICE *">
              <input type="text " name="desc[]" placeholder="CHOICE DESCRIPTION" >
            </li>
          </ul>
          <button type="submit" class="create-button">CREATE</button>
        </form>
      </div>
      <div class="title-and-text col-md-4">
        <h1>create a poll</h1>
        <p>* fields are mandatory</p>
        <div class = "create-errors"></div>
      </div>
    </div>
  </main>

  <footer class="create-footer">
    <% include partials/_footer.ejs %>
  </footer>

</body>
</html>
