<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>
  <main>
    <% include partials/_login-form.ejs %>
    <h1>REGISTER</h1>
    <form class="register-form" action="/register" method="POST">
      name: <input id="register-name" type ="text" name="name">
      email: <input id="register-email" type ="email" name="email">
      <br>
      password: <input id="register-password" type ="password" name="password">
      <br>
      <button type="submit">Register</button>
    </form>
    <div class="register-errors"></div>
    <p>Already a user? <a href="/">LOG IN HERE</a>.</p>
  </main>
  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
