<!DOCTYPE html>
<html lang="en">
<head>
  <title>Consensus</title>
  <% include partials/_head.ejs %>
</head>

<body>
  <header>
    <% include partials/_header.ejs %>
  </header>

  <main>
    <% include partials/_login-form.ejs %>
    <div class="container row">
      <div class="about-text col-md-6">
        <h1>Welcome to Consensus </h1>
        <p>
          Making decisions is hard. Why not step back and let someone else do it? Consensus lets you create polls on any subject, and send links to whoever you want. Friends anonymously rank their choices, and you get to see the aggregate results. Easy as pie!
        </p>
      </div>
      <div class="image col-md-6">
        <img class="col-md-6" src="/images/pie-charts.png">
      </div>
    </div>
  </main>
  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
