<!DOCTYPE html>
  <html lang="en">
  <head >
    <title>Consensus</title>
    <% include partials/_head.ejs %>
  </head>

  <body>
    <header class="root">
      <% include partials/_header.ejs %>
    </header>

  <div class="root-pg-contents">
    <main id="root-pg">
      <% include partials/_login-form.ejs %>
      <div class="container row">
        <div class="divided-div about-text col-md-8">
          <h1>Welcome to Consensus </h1>
          <p>
            Making decisions is hard. Why not step back and let someone else do it? Consensus lets you create polls on any subject, and send links to whoever you want. Friends anonymously rank their choices, and you get to see the aggregate results. Easy as pie!
          </p>
        </div>
        <div class="divided-div col-md-4">
          <img class="big-logo-div" src="/images/white-logo.png">
        </div>
      </div>
    </main id="root-page">
  </div>

  <footer class="root">
    <% include partials/_footer.ejs %>
  </footer>

  </body>
</html>
