body.admin-page {
  background-color: $lightPinky;
  .admin-text {
    padding-top: 1rem;
    padding-left: 3rem;
    .poll-title {
      font-family: $bigFont, cursive;
      text-shadow: -4px 3px 0 $pinky, -10px 7px 0 $darkPinky;
      color: white;
    }
    .poll-description {
      font-size: 10px;
      font-weight: 900;
      padding-left: 1rem;
      color: $darkPinky;
      text-transform: uppercase;
    }
    .num-responses {
      color: $darkPinky;
      margin-bottom: 0.5rem;
    }
    .friend-link {
      color: $darkPinky;
      a {
        color: $tealish;
        &:hover {
          color: white;
        }
      }
    }
    .choices-div {
      border: 3px solid white;
      padding: 1rem;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      .container-title {
        font-family: $bigFont, cursive;
        color: $darkPinky;
        font-size: 20px;
      }
      .choice {
        border: 3px solid white;
        background-color: $pinky;
        margin-bottom: 0.5rem;
        text-align: center;
        padding: 1rem;

        .choice-name {
          color: white;
          text-transform: uppercase;
          margin: 0px;
        }
        .choice-description {
          color: white;
          margin: 0px;
        }
      }
    }
    button {
      color: $pinky;
      background-color: white;
      border: 3px solid $pinky;
      height: 3rem;
      width: 100%;
      margin-bottom: 1rem;
      &:hover {
        background-color: $tealish;
        color: white;
        border-color: white;
      }

    }
  }

}

header.admin-page-header {
  background-color: $lightPinky;
  button {
    color: white;
    background-color: $lightPinky;
    border: 3px solid white;
    height: 4rem;
    margin: 0.5rem;
    width: 6rem;
  }
}
