.friend-poll-page {

  .text-container {
    padding-top: 1rem;
    padding-left: 2rem;
    .poll-title {
      font-family: $bigFont, cursive;
      color: white;
      text-shadow: -4px 3px 0 $pinky, -10px 7px 0 $darkPinky;
    }
    .poll-description {
      font-size: 10px;
      font-weight: 900;
      padding-left: 1rem;
      color: $darkPinky;
    }
    .instructions {
      font-style: italic;
      color: $darkPinky;
      margin: 0px;
    }
    .errors {
      color: white;
      .error1 {
        background-color: $darkPinky;
      }
    }
  }
  .choices-container {
    display: flex;
    justify-content: center;
    text-align: center;
    .choice-container {
      border: 3px solid white;
      padding: 1rem;
      width: 45%;
      margin: 1rem;
      .container-title {
        font-family: $bigFont, cursive;
        color: $darkPinky;
        font-size: 20px;
      }
      .choice {
        border: 3px solid white;
        background-color: $pinky;
        margin-bottom: 0.5rem;
        text-align: center;
        padding: 1rem;
        &.on-drag {
          background-color: $tealish;
        }
        .choice-name {
          color: white;
          text-transform: uppercase;
          margin: 0px;
        }
        .choice-description {
          color: white;
          margin: 0px;
          //font-style: italic;

        }
      }
    }
    .div-for-btn {
      display: flex;
      justify-content: center;
      .submit-ranks-btn {
        background-color: $pinky;
        color: white;
        font-size: 12px;
        border: 3px solid white;
        padding: 1rem;
        width: 6rem;
        &:hover {
          background-color: $tealish;
        }
      }
    }
  }

}

body.friend-poll-body {
  background-color: $lightPinky;
}

header.friend-poll-header {
  h1 {
    display: none;
  }
  button {
    color: white;
    background-color: $lightPinky;
    border: 3px solid white;
    height: 4rem;
    margin: 0.5rem;
    width: 6rem;
  }
}

