.login-form {
  display: none;
}

.errors {
  color: red;
  padding-top: 0.5rem;
  p {
    margin: 0;
  }
}

#login-button {
  color: #edeeef;
  background-color: #42485d;
  &:hover {
    background-color: #abb7d0;
    color: #1d1e1e;
  }
}

.login-form-container {
  border: 2px #687793;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  .input-and-submit {
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      margin: 1rem;
    }

    .login-errors {
      color: red;
      padding-top: 0.5rem;
      p {
        margin: 0;
      }
    }
  }
}
