.login-form {
  display: none;
  .login-form-container {
    border: 1px solid gray;
    border-radius: 1rem;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    .input-and-submit {
      margin: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        margin: 1rem;
      }
    }
    .errors {
      color: red;
      padding-top: 0.5rem;
      p {
        margin: 0;
      }
    }

  }
}
