header {
  //background-color: $pinky;
  height: 5rem;
  position: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  //border-bottom: 1px solid grey;

  .logo-and-header {
    padding-top: 1rem;
    h1 {
      font-family: 'Nunito', sans-serif;
      line-height: 5rem;
      font-weight: bold;
    }
  }
  .buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    button {
      color: $tealish;
      background-color: white;
      border-radius: 0px;
      border: 3px solid $tealish;
      height: 4rem;
      margin: 0.5rem;
      width: 6rem;
      &:hover {
        background-color: $tealish;
        color: white;
      }
    }

  }

}
