header {
  height: 7rem;
  position: fixed;
  z-index: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  display: flex;
  align-items: center;

  .logo-and-header {
    padding-top: 1rem;
    h1 {
      display: hidden;
      padding-left: 1rem;
      font-family: $bigFont, cursive;
      font-size: 2rem;
      color: $pinky;
      //text-shadow: -4px 3px 0 $pinky, -10px 7px 0 $darkPinky;
      line-height: 4rem;
      span {
        color: $tealish;
        opacity: 0.7;
      }
    }
    .header-logo {
      display: flex;
      align-items: center;
      &:hover h1 {
        display: inline;
      }
    }
  }
  .buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    button {
      color: $tealish;
      background-color: white;
      border-radius: 0px;
      border: 3px solid $tealish;
      height: 4rem;
      margin: 0.5rem;
      width: 6rem;
      &:hover {
        background-color: $tealish;
        color: white;
      }
    }

  }

}
