.root-pg-contents {
  padding-top: 2rem;
  background-color: $pinky;
  display: flex;
  align-items: center;
  .about-text {
    padding-top: 5rem;
    h1 {
      font-family: $bigFont, cursive;
      color: white;
      letter-spacing: 3px;
      font-size: 4rem;
      text-shadow: -4px 3px 0 $pinky, -10px 7px 0 $darkPinky;
    }
    p {
      color: white;
    }
  }
}

header.root {
  .header-logo {
    display: none;
  }
  span {
    display: none;
  }
  button {
    color: white;
    background-color: $pinky;
    border: 3px solid white;
    height: 4rem;
    margin: 0.5rem;
    width: 6rem;
  }
}

footer.root {
  display: none;
}
