.your-polls-title {
  margin-top: 3rem;
  margin-bottom: 0px;
  width: 100%;
  font-family: $bigFont, cursive;
  display: none;

}
article {
  ul.container {
    padding: 0px;
    padding-top: 3rem;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    a {
      width: 33%;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-top: 2px solid $lightPinky;
      border-bottom: 2px solid $lightPinky;
      text-decoration: none;
      li.item {
        h1 {
          text-align: center;
          font-family: $bigFont, cursive;
          color: white;
          text-shadow: -4px 3px 0 $pinky, -10px 7px 0 $darkPinky;
        }
        .poll_chart {
          text-align: center;
          color: black;
          font-size: 15px;
        }
        padding: 5px;
        line-height: 150px;
        font-weight: bold;
        font-size: 2em;
        text-align: justify;
      }
      &:hover {
        border-top: 2px solid $tealish;
        border-bottom: 2px solid $tealish;
        h1 {
          color: #pinky;
        }
      }

    }
  }
}

body.your-polls {
  background-color: $lightPinky;
}

header.admin-page-header {
  h1 {
    display: none;
  }
  button {
    color: white;
    background-color: $lightPinky;
    border: 3px solid white;
    height: 4rem;
    margin: 0.5rem;
    width: 6rem;
  }
}

